
<header id="header">
    <div class="header-top">
        <div class="container">
          <div class="d-md-flex align-items-center justify-content-end">
            <a href="https://biryaniblues.com/loyalty" class="link-reward d-none d-md-block">
              <strong>Earn Revards</strong>
              on every order
            </a>
            <a class="a-cursor" href="tel:8079003172" class="link-phone">8079003172</a>
            <button class="btn current-location-btn" type="button">
              <strong>Gurugram, Haryana, India</strong>
              <!-- <i class="fa fa-angle-down" (click)="openSidenav('location')"> </i>  -->
            </button>
          </div>
        </div>
      </div>
      <div class="toggle-btn">
        <span></span>
      </div>
    <nav class="navbar">
        <div class="container sticky">
            <a href="" class="navbar-brand">
                <img class="blue-img" src="https://biryaniblues.com/assets/frontend/images/logo.png" alt>
            </a>
            <div class="d-flex ml-auto align-items-center">
                <div id="navbar" class="d-none d-md-block">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="https://biryaniblues.com/order-online/menu" class="nav-link active">
                                <img id="menu" src="https://biryaniblues.com/assets/frontend/images/dish-icon.png" alt>
                                <span id="text-color">Menu</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link active">
                                <span id="text-color">Offers</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link active">
                                <span id="text-color">Party With Us</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link active">
                                <span id="text-color">Loyalty</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link active">
                                <span id="text-color">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="javascript:void(0)" class="user-link" (click)="openLoginSidenav()" title="User"></a>
                <a href="/orders" class="cart-link">
                    <span class="badge badge-dark">{{count}}</span>
                </a>
            </div>
        </div>
        <div class="bg-overlay">&nbsp;</div>
 </nav>
</header>
