
<app-webbar></app-webbar>

<section class="main-wrapper" style="margin-top: -278px; position: relative; background-color: transparent !important;">
    <section class="section sec-hp-slider">
       <div class="hp-slider owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage owl-slider-style">
                    <div class="owl-item" style="width:567px; margin-right:15px">
                     <a href="#">
                         <img src="https://biryaniblues.com/assets/uploads/home_slider/1600683815homeIPL.png" alt>
                     </a>
                    </div>
                    <div class="owl-item" style="width:567px; margin-right:15px">
                        <a href="#">
                            <img src="https://biryaniblues.com/assets/uploads/home_slider/1586248415Hygieneweb-banner.jpg" alt>
                        </a>
                       </div>
                       <div class="owl-item" style="width:567px; margin-right:15px">
                        <a href="#">
                            <img src="https://biryaniblues.com/assets/uploads/home_slider/1600683815homeIPL.png" alt>
                        </a>
                       </div>
                       <div class="owl-item" style="width:567px; margin-right:15px">
                        <a href="#">
                            <img src="https://biryaniblues.com/assets/uploads/home_slider/1600683815homeIPL.png" alt>
                        </a>
                       </div>
                       <div class="owl-item" style="width:567px; margin-right:15px">
                        <a href="#">
                            <img src="https://biryaniblues.com/assets/uploads/home_slider/1603472003470x780.jpg" alt>
                        </a>
                       </div>
                       <div class="owl-item" style="width:567px; margin-right:15px">
                        <a href="#">
                            <img src="https://biryaniblues.com/assets/uploads/home_slider/1600683815homeIPL.png" alt>
                        </a>
                       </div>
                       <div class="owl-item" style="width:567px; margin-right:15px">
                        <a href="#">
                            <img src="https://biryaniblues.com/assets/uploads/home_slider/1600683815homeIPL.png" alt>
                        </a>
                       </div>
                       <div class="owl-item" style="width:567px; margin-right:15px">
                        <a href="#">
                            <img src="https://biryaniblues.com/assets/uploads/home_slider/1565087273600x400-02double_ka_meetha.jpg" alt>
                        </a>
                       </div>
                       ::after
                    </div>
            </div>
            <div class="owl-nav disabled">
                <div class="owl-prev">prev</div>
                <div class="owl-next">next</div>
            </div>
            <div class="owl-dots">
                <div class="owl-dot">
                    <span></span>
                </div>
                <div class="owl-dot active">
                    <span></span>
                </div>
                <div class="owl-dot">
                    <span></span>
                </div>
            </div>
       </div>
    </section>
</section>

<app-ourmenu></app-ourmenu>

