.webbar-top-wrapper {
    height: 280px;
    width: 100%;
}
.top-circular-bar {
   
    height: 53vw;
    width: 72vw;
    margin-top: -28vw;
    margin-right: -12vw;
    border-radius: 100%;
    background: #26c9ec;
    position: absolute;
    right: 0;

}