#footer {
    padding: 180px 0 0;
    color: #fff;
    position: relative;
    // overflow: hidden !important;
    overflow-x: hidden;
}
#footer:before {
    content: '';
    width: 100%;
    height: 250px;
    background: #00c0e8;
    position: absolute;
    top: 90px;
    left: 0;
    border-radius: 100% 100% 0 0;
    transform: scale(1.2);
}
#footer a {
    color: #fff;
}
.footer-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0px 0 0 -55px;
    padding: 10px;
    background: #00c0e8;
    border-radius: 100%;
}
.footer-top {
    background: #00c0e8;
    padding: 0 0 50px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer-nav .nav {
    margin-bottom: 20px;
}
.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.footer-nav .nav-item {
    margin-bottom: 5px;
}

h5 {
    display: block;
    font-size: 1.23em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#footer a {
    color: #fff;
}
.footer-nav .nav-link {
    padding: .2rem 0;
    white-space: nowrap;
}
.nav-link {
    display: block;
   
}
.footer-nav .nav-link.active {
    background: #006074;
    color: #fff !important;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
}
.footer-social a, .m-menu-social a {
    font-size: 1.2rem;
    width: 40px;
    background: #0086a2;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
    margin-left: 5px;
   
}
.footer-social a .fa {
    line-height: 40px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.mt30 {
    margin-top: 30px;
}
.app-btn a {
    display: inline-block;
}

.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.footer-bottom {
    padding: 20px 0;
    border-top: solid 2px rgba(255,255,255,0.4);
    background: #00c0e8;
}
.pull-left {
    float: left;
    margin-top: 8px;
}