<footer id="footer">
    <a href="#" class="footer-logo">
        <img src="https://biryaniblues.com/assets/frontend/images/logo-white.png" alt>
    </a>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-4 footer-address">
                    <div class="footer-nav">
                        <h5>Locations</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/locate_us/Ghaziabad" class="nav-link">Ghaziabad</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/locate_us/Chandigarh" class="nav-link">Chandigarh</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/locate_us/Gurgoan" class="nav-link">Gurgoan</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/locate_us/New Delhi" class="nav-link">New Delhi</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/locate_us/Noida" class="nav-link">Noida</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/locate_us/Jaipur" class="nav-link">Jaipur</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <nav class="footer-nav">
                        <h5>COMPANY</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/order-online/menu" class="nav-link">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/about-us" class="nav-link">About us</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/loyalty" class="nav-link">Loyalty</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/offers" class="nav-link">Offers</a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2 col-4">
                    <nav class="footer-nav">
                        <h5>QUICK LINKS</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/press-release" class="nav-link">Press Release</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/locate-us" class="nav-link">Locate Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://restaurants.biryaniblues.com/" class="nav-link">Restaurants</a>
                            </li>
                          
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2 col-6 d-none d-md-block">
                    <nav class="footer-nav">
                        <h5>SUPPORT</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/contact-us" class="nav-link">Contact us</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://biryaniblues.com/terms-and-conditions" class="nav-link">Terms & Conditions</a>
                            </li>
                            <li class="nav-item">
                                <a href="tel:8079003172" class="nav-link active">Call:8079003172</a>
                            </li>
                           
                            
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 col-12">
                    <div class="footer-social">
                        <a href="https://www.youtube.com/channel/UCLK2k7C7iP1vy6slvVM_RFw" target="_blank">
                        <i class="fa fa-youtube-play"></i>
                        </a>
                        <a href="https://www.facebook.com/BiryaniBlues/">
                        <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/biryaniblues/">
                        <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://instagram.com/biryaniblues/">
                        <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="app-btn mt30">
                        <a href="https://apps.apple.com/in/app/biryani-blues-order-online/id1055247381" target="_blank">
                        <img src="https://biryaniblues.com/assets/frontend/images/btn-ios.png" alt="App Store">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.biryaniblues.app&hl=en" target="_blank" class="mt-2">
                        <img src="https://biryaniblues.com/assets/frontend/images/btn-android.png" alt="App Android">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom clearfix">
        <div class="container">
            <span class="copyright pull-left">
                @ <strong>Biryani Blues</strong>
                All Rights Reserved.
            </span>
            <ul class="nav pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="https://biryaniblues.com/terms-and-conditions">Terms of Service</a>
                </li>
            </ul>
       </div>
    </div>
</footer>