<div style="height: 200px; width: 100%;">
    <div class="top-circular-bar"></div>
</div>
<div class="order-list-main-wraper">
    <div class="container">
        <header>
            <div class="header-dashboard">
                <li>
                    <div class="text-center">
                        <p>1</p>
                    </div>
                    <a href="javasrcipt:void(0)" class="nav-link order-text">
                        Order Details
                    </a>

                </li>
                <li>
                    <div class="text-center">
                        <p>2</p>
                    </div>
                    <a href="javasrcipt:void(0)" class="nav-link order-text">
                        Delivery
                    </a>

                </li>
                <li>
                    <div class="text-center">
                        <p>3</p>
                    </div>
                    <a href="javasrcipt:void(0)" class="nav-link order-text">
                        Payment

                    </a>

                </li>
                <li>
                    <div class="text-center">
                        <p>4</p>
                    </div>
                    <a href="javasrcipt:void(0)" class="nav-link order-text">
                        Confirmation
                    </a>

                </li>
            </div>
        </header>
        <div class="order-item-wraper">
        </div>
        <div class="main-section">
            <div class="order-section">
                <section class="order-items">
                    <div class="order-header">
                        <div class="left-side-order">
                            <h2>Order items</h2>
                          <div class="order-item-img-box">
                             <div class="img-card">
                                <img style="height: 93px; border-radius: 8px ; padding: 0px; width:127px;" src="https://biryaniblues.com/assets/uploads/product_images/1104_egg_biryani_solo.jpg"> 
                            </div>
                             <div class="food-details">2</div>
                        </div>
                        </div>
                        <div class="right-side-amount">
                            <div style="float: right; ">
                                <a href="javascript:void(0)" class="ml-auto">
                                    <i class="fa fa-trash-o delete-btn"></i>
                                    <span id="delete-btn-text">Clear shopping cart</span>
                                </a>
                            </div>
                            <div class="product-price">
                                <i class="fa fa-rupee"></i>
                                <b> 329.00</b>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="payment-section">
                <section class="takeway-details-card">
                    <div class="takeway-details-text">
                        <p class="header-text">Take Away Details</p>
                    </div>
                    <div class="card" style="border: none;">
                        <div class="card-body">
                            <h5>Sohna Road, 2</h5>
                            <address>
                                FF-17, Ninex City Mart, Sohna Road, Sector 49<br>
                                Phone Number:
                                <a href="tel:8079003172">8079003172</a>
                            </address>
                        </div>
                    </div>
                </section>
                <div class="order-amount-card-wrapper">
                    <div>
                        <h2 class="amount-card-header">Order Amount</h2>
                        <p class="amount-card-header-under-paragraph">The total cost consist of the GST & Packing
                            Charge.
                        </p>
                    </div>
                    <div class="amount-card-center">
                        <div class="amount-card-product">
                            <h2>Subtotal</h2>
                        </div>
                        <div class="amount-card-money">
                            <span class="fa fa-inr"></span>
                            <b> 209.00</b>
                        </div>
                    </div>
                    <footer>
                        <div class="total-amount d-flex align-items-center">
                            <span class="total-footer-text-left">TOTAL:</span>
                            <span class="ml-auto">
                                <i class="fa fa-rupee"></i>
                                <span class="total-footer-text-right">276.00</span>
                            </span>
                        </div>
                    </footer>
                </div>
                <section class="takeway-details-Apply-card">
                    <div class="apply-cupan">
                        <i class="icon-discount"></i>
                        Apply Coupon
                    </div>
                </section>
                <section class="next-page-Apply-card">
                    <h2 class="next-page"> Next Page</h2>
                </section>
            </div>
        </div>
    </div>
</div>