<mat-dialog-content>
    <div>Takeaway is now available. Order Online & collect safely.</div>
  </mat-dialog-content>
  <mat-dialog-actions >
    <div class="display-flex" style="margin-top: 14px; margin-left: 212px;">
        <div style="float: right; margin-left: 11px">
          <button class="btn btn-danger" (click)="cancel()">Cancle</button>
        </div>
        <div style="float: right;">
            <button class="btn btn-success"  (click)="openSidenav()">Ok</button>
        </div>
    </div>
  </mat-dialog-actions>
