<div class="delivery-location-wrapper">
    <div class="top-location-bar">
    </div>
    <div class="close-sidenav" (click)="closeComponent()">
        <span class="close-btn">X</span>
    </div>
    <div class="blockscroll">
        <header class="sidebar-modal-header">
            <h2 class="title">Enter your Takeaway Location</h2>
        </header>
        <div class="siderbarModal">
            <div class="taform">
                <div class="form-group">
                    <label class="form-label">
                        <img src="https://biryaniblues.com/assets/frontend/images/icon-apprt.png">
                        Select Location
                    </label>
                    <select class="form-control custom-select">
                        <option>Select Location</option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <input type="hidden">
                    <input type="hidden">
                    <label class="form-lebel">
                        <img src="https://biryaniblues.com/assets/frontend/images/icon-shops.png">
                        Select Sotre
                    </label>
                    <select class="form-control custom-select"></select>
                </div>
                <div class="card-twadd mt-5" style="display: none;">
                    <h3 class="title">Pick up your order from Restaurant at</h3>
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
        <button type="button" class="btn btn-primary">Proceed</button>
    </footer>
    </div>
</div>