<section class="section">
    <div class="container">
        <div class="title-background-circle">
      </div>
     <div class="title text-center">
          <h2 class="title-lg">OUR MENU</h2>
      </div>
      <ul class="nav recipe-nav-tab mb-2">
        <li class="nav-item ">
            <a href="javascript:void(0);" class="nav-link  nav-active">
                <img src="https://biryaniblues.com/assets/frontend/images/icon-delivery.png" alt="icon Delivery" class="img-icon">
                Delivery
            </a>
        </li>
        <li class="nav-item" (click)="openDialog()">
          <a href="javascript:void(0);" class="nav-link take-away">
              <img src="https://biryaniblues.com/assets/frontend/images/icon-takeaway.png"  class="img-icon">
          Take Away
          </a>
        </li>
        <li class="nav-item ml-auto d-flex aligns-item-center">
            <div class="slider-div" #vegButton (click)="vegButtonChange()">
                  <span class="slider-btn"></span>
                  <span class="slider-btn-name">Veg Only</span>
            </div>
      </li>
      </ul>
   </div>
  </section>
  
  <div class="main-div">
      <div class="combo-div">
          <div class="container">
              <header class="title-head d-flex align-items-center">
                  <h2 class="title-offers title-lg">Combo Offers</h2>
              </header>
              <div class="row row-gap menu-list">
                  <div class="col-md-4 col-lg-3" *ngFor="let item of ourMenuArray">
                      <div class="card-recipe card">
                          <div class="card-recipe-img mb-3">
                              <a href="#" >
                                  <figure class="recipe-img">
                                      <img src={{item.img}} alt="test">
                                  </figure>
                              </a>
                          </div>
                          <a href="#">
                              <header class="recipe-header-img mb-3">
                                  <h3 class="recipe-title" title="Chkn Biryani Serv1 with Shammi Kebab 2pc">
                                      <span class="food-mark mark-nonveg"></span>
                                      {{item.title}}
                                  </h3>
                                  <p class="p-text-color">{{item.data}}</p>
                              </header>
                          </a>
                          <footer class="card-recipe-footer d-flex  align-items-center">
                              <h4 class="m-0">
                                  <i class="fa fa-rupee"></i>
                                 {{item.money}}
                              </h4>
                              <a href="javascript:void(0)" class="btn btn-add ml-auto" (click)="addProduct()" >Add +</a>
                          </footer>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
