<div class="delivery-location-wrapper">
    <div class="top-location-bar">
    </div>
    <div class="close-sidenav">
        <span class="close-btn" (click)="closeComponent()">X</span>
    </div>
    <div class="blockscroll">
        <header class="sidebar-modal-header">
            <h2 class="title">Let us know your delivery location</h2>
            <div class="search-location">
                <div class="inout-search">
                    <input type="text" class="jsSearchCheckFilter form-control pac-target-input" placeholder="Enter your delivery location">
                    <a href="#" class="remove-search">x</a>
                    <a href="#" class="btn btn-locate">Locate Me</a>
                </div>
            </div>
        </header>
    </div>
</div>

 
